* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: #2b283a;
    font-family: Inter, serif;
    font-size: 12px;
    min-height: 100vh;
    background-color: #fafafa;
}
#root {
    max-width: 590px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #222;
}
.bold {
    font-weight: 700;
}
a {
    color: inherit;
}
.header {
    background-color: #f55a5a;
    height: 55px;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 #f2f2f2;
    margin-bottom: 20px;
}
.fa-globe {
    margin-right: 9px;
    width: 20px;
}
.header h2 {
    padding-block: 10px;
    font-family: Lobster, cursive;
    font-size: 29px;
}

section {
    padding: 25px 32px;
}

.card {
    display: flex;
    column-gap: 19px;
}
.card--image {
    width: 125px;
    height: 168px;
    border-radius: 5px;   
}
.location {
    margin-bottom: 0;
    padding-bottom: 0;
}
.location .fa-map-marker {
    color: #f55a5a;
    margin-right: 3px;
}
.card--details {
    padding: 12px 0 9px 0;
}
.location--name {
    letter-spacing: 0.17em;
    line-height: 12px;
    margin-right: 13px;
    font-size: 12px;
}
.view--map {
    font-size: 11px;
    color: #918E9B;
}
.card--title {
    margin: 0;
    margin-top: 5px;
    font-weight: 700;
    font-size: 25px;
}
.card--description {
    line-height: 15.4px;
}

@media (max-width: '580px') {
    #root {
        margin: 0;
    }
}